{% extends 'base.html' %}
{% block body %}

    <div class="container">
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend><h2>Add Movies Here</h2></legend>
                    <p>
                        <label>Movie Name : </label>
                        <input type="text" name="name" placeholder="Movie Name">
                    </p>
                    <p>
                        <label>Movie description : </label>
                        <input type="text" name="desc" placeholder="Movie description">
                    </p>
                    <p>
                        <label>Release Year : </label>
                        <input type="text" name="year" placeholder="Year">
                    </p>
                    <p>
                        <label>Movie Name : </label>
                        <input type="file" name="img">
                    </p>
                    <p>
                        <input type="submit" value="Add Movie">
                    </p>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}